.contact{
  background-color: $brand-color;
  color: white;


  &__inner{
    padding-top: 56px;
    padding-bottom: 74px;
    max-width: 900px;

    @include respond-to(sm){
      padding-top: 95px;
      padding-bottom: 177px;
    }

    h2{
      font-size: 54px;
      font-family: 'mabry-bold';
      margin-bottom: 21px;
    }

    p{
      font-size: 25px;
      font-family: 'founders-grotesk-web-regular';
      margin-bottom: 30px;
      max-width: 800px;
    }
  }


  &__grid{
    display: grid;
    grid-template-columns: 1fr; 
    
    @include respond-to(sm){
      grid-template-columns: 1fr 1fr ;  
    }
    
    @include respond-to(md){
      grid-template-columns: 1fr 1fr 1fr;  
    }

    h4{
      font-size: 30px;
      font-family: 'mabry-light';
      font-weight: 400;
      margin-bottom: 15px;
    }

    a{
      display: block;
      color: white;
      font-size: 14px;
      font-family: 'mabry-regular';
      margin-bottom: 11px;
    }
  }

  &__svg-conatiner{
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }

  &__grid-item{
    margin-bottom: 40px;

    @include respond-to(md){
      margin-bottom: 0px;
    }
  }
}