.full-width-image{

  &__image{
    position: relative;
    padding-top: 100vw;

    @include respond-to(sm){
      padding-top: 0px;
    }

    img{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 100vh;


      @include respond-to(sm){
        width: 100%;
        height: auto;
        position: relative;
      }
    }
  }
}