.hero{
  position: relative;
  padding-top: 29px;
  border-bottom: solid $brand-color;
  border-width: 1px;
  padding-bottom: 36px;
  

  @include respond-to(md){
    padding-top: 75px;
    border: none;
    padding-bottom: none;
  }


  &__inner{
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    @include respond-to(md){
      display: block;
      height: 61vw;
      max-height: 749px;
    }


  }

  &__left{
    position: relative;
    z-index: 9;

    h1{
      font-family: 'mabry-bold';
      font-size: 28px;
      text-align: center;

      @include respond-to(md){
        font-size: 54px;
        text-align: left;
      }
    }

    h2{
      font-family: 'mabry-light';
      font-weight: 400;
      font-size: 28px;
      text-align: center;

      @include respond-to(md){
        font-size: 54px;
        text-align: left;
        margin-top: -20px;
      }
    }

    p{
      padding-top: 18px;
      padding-bottom: 29px;
      font-family: 'mabry-light';
      font-size: 14px;
      text-align: center;

      @include respond-to(md){
        font-size: 24px;
        text-align: left;
        padding-top: 46px;
        padding-bottom: 60px;
      }
    }

    & .btn{
      width: 100%;

      @include respond-to(md){
        width: 260px;
      }

    }
  }

  &__right{


    img{


      @include respond-to(md){
        position: absolute;
        top: 0; 
        right: -0px;
        height: 70vw;
        max-height: 738px;
      }

      @include respond-to(lg){
        right: -40px;
      }
      


      @include respond-to(xl){
        right: -100px;
      }
    }
  }
}